<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 text-center">
                <div class="mt-5">
                    <h1 style="color: #3f51b5;">Take a quiz.</h1>
                    <h2 style="color: #3f51b5;">Enhance your skills by taking a quiz.</h2>
                    <a routerLink="/login" mat-raised-button color="primary">Get Started</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img src="assets/images/quiz.png" alt="quiz">
                </div>
            </div>
        </div>
    </div>
</div>