<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 py-3 ">

            <mat-card class="shadow p-3 mb-5 bg-white rounded">


                <h1 class="header-txt text-center my-3">Sign Up</h1>


                <form class="example-form">
                    <div class="field-container text-center">
                        <mat-form-field class="example-full-width full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="Enter username">
                        </mat-form-field>
                        <mat-form-field class="example-full-width full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Enter your email address">
                        </mat-form-field>
                        <mat-form-field class="example-full-width full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Enter your password">
                        </mat-form-field>
                        <mat-form-field class="example-full-width full-width" appearance="outline">
                            <mat-label>Phone No</mat-label>
                            <input type="number" matInput placeholder="Enter your phone no">
                        </mat-form-field>
                    </div>
                    <div class="text-center">
                        <button type="submit" mat-raised-button color="primary">Sign up</button>
                        <button type="reset" mat-raised-button color="accent" style="margin-left: 5px;">Reset</button>
                    </div>
                </form>
            </mat-card>

        </div>
    </div>
</div>