<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon><span class="material-icons-round">
                menu_book
            </span></mat-icon>
    </a>
    <a routerLink="/" style="text-decoration: none;color: white;">Exam Portal App</a>
    <span class="example-spacer"></span>

    <a
        *ngIf="!isLoggedIn"
     routerLink="/login" style="margin-right: 20px;" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Login
    </a>
    <a *ngIf="!isLoggedIn"
     routerLink="/register" style="margin-right: 20px;" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        Register
    </a>
    <a *ngIf="isLoggedIn"
     style="margin-right: 20px;" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        {{user.username}}
    </a>

    <a *ngIf="isLoggedIn" (click)="logout()"
     style="margin-right: 20px;" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        Logout
    </a>
</mat-toolbar>